@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>Exemplo de Utilização do ASP.NET Core 1.1 + Entity Framework Core 1.1, conectando-se a três tipos de banco de dados relacionais (SQL Server, MySQL e PostgreSQL).</p>
<p>Desenvolvido por André Secco.</p>
